In [ ]:
def add(x,y):
    """ 
    This functions takes 2 parameters are inputs and returns addition
    """
    c = x+y
    return c

In [3]:
a1 = add(34,56)

In [4]:
print(a1)

90

In [5]:
add (45,67)

112

## Variadic Functions

In [6]:
add (56,89)

145

In [7]:
def add1(*args):
    for i in args:
        print(i)

In [8]:
add1(45,56,78,89)

45
56
78
89

In [9]:
def add2(*args):
    s = 0
    for i in args:
        #print(i)
        s = s+i
    return s

In [10]:
s1 = add2(45,67,89,23,12,67,45)
s1

348

In [11]:
def multiply(x,*args):
    """
    Inputs: X and multiple arguments
    Output: Returns a welcome statement along with product of given arguments
    """
    welcome = f"Welcome {x}"
    p = 1
    for i in args:
        p = i*p
    return f"{welcome}. Product of given data is {p}"
    #return f"welcome {x}.Product of given data is {p}".

In [12]:
m1 = multiply("Raman",67,78,34,23,34)

In [13]:
m1

'Welcome Raman. Product of given data is 138948888'

## I have employee data with me. Emp ids and empnames are stored in lists.I want to update their department details , let's assume IT department.

In [14]:
employee1 = [101,"Raman"]
employee2 = [102,"Thaman"]
employee3 = [103,"Suman"]

In [15]:
def add_dept(*args):
    for i in args:
        i.append("IT")

In [16]:

add_dept(employee1,employee2,employee3)

In [17]:
employee1

[101, 'Raman', 'IT']

In [18]:
employee2

[102, 'Thaman', 'IT']

In [19]:
employee3

[103, 'Suman', 'IT']

## Keyword arguments **kwargs

In [20]:
add(56,78)

134

In [21]:
add(y=67,x=23)

90

In [22]:
def func(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [23]:
dct = {
    "emp":101,
    "dept":"HR"
}

In [24]:
type(dct)

dict

In [25]:
dct.items()

dict_items([('emp', 101), ('dept', 'HR')])

In [26]:
func(id=101,dept="hr")

<class 'dict'>
dict_items([('id', 101), ('dept', 'hr')])

In [27]:
def func2(**kwargs):
    print(kwargs.keys())
    print(kwargs.values())

In [28]:

func2(ids=[101,201,301],depts=("hr","sales","marketing"))

dict_keys(['ids', 'depts'])
dict_values([[101, 201, 301], ('hr', 'sales', 'marketing')])

## Write a function that returns the length of input items passed to it. Return a dictionary as output of function mentioning cooresponding key and length of item as value

In [29]:
employee1

[101, 'Raman', 'IT']

In [30]:
employee2.append(67000)

In [31]:
employee2

[102, 'Thaman', 'IT', 67000]

In [32]:
employee3.append(76000)

In [33]:
employee3.append(True)

In [34]:
employee3

[103, 'Suman', 'IT', 76000, True]

In [35]:
dct

{'emp': 101, 'dept': 'HR'}

In [36]:
for k,v in dct.items():
    print(f"key is : {k}")
    print(f"value is {v}")

key is : emp
value is 101
key is : dept
value is HR

In [37]:
def len_data(**kwargs):
    dct = {}
    for key,data in kwargs.items():
        dct[key] = len(data)
        # dct[emp1]=len(employee1)
        # dct[emp2]=len(employee2)
        # dct[emp3] = len(employee3)
    return dct
    # dct.items() : ((emp1,3),(emp2,4),(emp3,5))

In [38]:

len_data(emp1=employee1,emp2=employee2,emp3=employee3)

{'emp1': 3, 'emp2': 4, 'emp3': 5}

## Write a function that takes student name and marks as input.