# functions

In [1]:
def add(x,y):
    """ 
    This functions takes 2 parameters are inputs and returns addition
    """
    c=x+y
    return c

In [2]:
a1= add(34,56)

In [3]:
print(a1)

90

In [4]:
add (56,89)

145

## Variadic Function

In [5]:
def add1(*args):
    for i in args:
        print(i)

In [6]:
add1(45,56,78,89)

45
56
78
89

In [7]:
def add2(*args):
    s=0
    for i in args:
        s=s+i
    return s

In [9]:
s1= add2(45,67,89,23,12,67,45)
s1

348

In [13]:
def multiply(x,*args):
    """
    Inputs: X and multiple arguments
    Output: Returns a welcome statement along with product of given arguments
    """
    welcome = f"Welcome {x}"
    p = 1
    for i in args:
        p = i*p
    return f"{welcome}. Product of given data is {p}"
    #return f"welcome {x}.Product of given data is {p}".

In [14]:
m1 = multiply("Raman",67,78,34,23,34)

In [15]:
m1

'Welcome Raman. Product of given data is 138948888'

## I have employee data with me. Emp ids and empnames are stored in lists.I want to update their department details , let's assume IT department.

In [16]:
employee1 = [101,"Raman"]
employee2 = [102,"Thaman"]
employee3 = [103,"Suman"]

In [17]:
def add_dept(*args):
    for i in args:
        i.append("IT")

In [18]:
add_dept(employee1,employee2,employee3)

In [19]:
employee1

[101, 'Raman', 'IT']

In [20]:
employee2

[102, 'Thaman', 'IT']

In [21]:
employee3

[103, 'Suman', 'IT']

## Keyword arguments **kwargs

In [22]:
add (56,78)

134