## inheritance

## single level inheritance

In [3]:
class person:
    # Tak 2 inputs from the user for this class.
    def __init__(self,name,age):
        self.name = name
        self.age = age

 # Write a function to introduce the person
    def introduce(self):
        print(f"Hi everyone, I am {self.name} and I am {self.age} years old")

In [4]:
p1 = person("Raman",35)

In [5]:
p1.name

'Raman'

In [6]:
p1.age

35

In [8]:
p1.introduce()

Hi everyone, I am Raman and I am 35 years old

In [12]:
class employee(person):
    # create attributes for employee class
    def __init__(self,company,num):
       self.company = company
       self.num = num
       # create a function that provides work details of person
    def work(self):
        print(f"I am working at {self.company} from past {self.num}years")

In [13]:
e2 = employee("wipro",3)

In [14]:
e2.num

3

In [15]:
e2.company

'wipro'

In [16]:
e1.employee()

NameError: name 'e1' is not defined

In [17]:
e2.age

AttributeError: 'employee' object has no attribute 'age'

## All above errors are valid errors. because, we haven't provided any link between parent attributes and child class

In [18]:
class employee2(person):
    def __init__(self,name,age,company,num):
        super().__init__(name,age)
        # person.__init__(name, age)
        self.company = company
        self.num = num

        """
         def __init__(self,company,num):
        self.company = company
        self.num = num
        
        """
# create a function that provides work details of person
    def work(self):
        super().introduce()
        print(f"I am working at {self.company} from past {self.num}years")

In [19]:


e3 = employee2("Raman",45,"Wipro",3)

In [20]:
e3.age

45

In [21]:
e3.company

'Wipro'

In [22]:
e3.name

'Raman'

In [23]:
e3.work()

Hi everyone, I am Raman and I am 45 years old
I am working at Wipro from past 3years

## Multilevel Inheritance

In [24]:
#parent class
class emp:
    def __init__(self,name,employee_id):
        self.name = name
        self.employee_id = employee_id
    
    def get_emp_info(self):
        return (f"Employee details are : Name: {self.name}, ID: {self.employee_id}")

In [25]:
# child class1
class manager(emp):
    def __init__(self, name, employee_id,department):
        super().__init__(name, employee_id)
        self.department = department

    def get_dept_info(self):
        return (f"Employee department details are : {self.get_emp_info()}, Department: {self.department}")

In [26]:
#child class 2
class projectmanager(manager):
    def __init__(self, name, employee_id, department,project):
        super().__init__(name, employee_id, department)
        self.project = project

    def get_project_info(self):
        return (f"Employee details are : {self.get_dept_info()},Project: {self.project}")

In [27]:
pm1 = projectmanager("Thaman",234234,"Finance","PM108")

In [28]:
pm1.name

'Thaman'

In [29]:
pm1.project

'PM108'

In [30]:


pm1.get_emp_info()

'Employee details are : Name: Thaman, ID: 234234'

In [31]:
pm1.get_dept_info()

'Employee department details are : Employee details are : Name: Thaman, ID: 234234, Department: Finance'

In [32]:


pm1.get_project_info()

'Employee details are : Employee department details are : Employee details are : Name: Thaman, ID: 234234, Department: Finance,Project: PM108'

## hierarchal inheritance

In [33]:
class garve_hyundai:
    def __init__(self,name,location):
        self.name = name
        self.location = location
    def greeting(self):
        print(f"Hello {self.name}. Welcome to the showroom.")
    
    def models(self):
        print("We have latest models available at the showroom like Grandi10,Grandi20")

In [34]:
#child class1
class grandi10(garve_hyundai):
    def __init__(self, name, location,price_lookup):
        super().__init__(name, location)
        self.price_lookup = price_lookup
    
    def enquiry_price(self):
        super().greeting()
        print("Price range of this car is 9Lakhs")
        if self.price_lookup>10:
            print(f"Please check our best models falling under the same range with additional features")

In [35]:
#child class 2
class grandi20(garve_hyundai):
    def __init__(self, name, location,price_range):
        super().__init__(name, location)
        self.price_range = price_range
    
    def enquiry_price(self):
        super().greeting()
        print("Price range of this car is 20Lakhs")
        if self.price_range<10:
            print(f"Please check our best models falling under the same range with additional features")

In [36]:
gi10 = grandi10("Suman","Wakad",18)

In [37]:
gi10.enquiry_price()

Hello Suman. Welcome to the showroom.
Price range of this car is 9Lakhs
Please check our best models falling under the same range with additional features

In [38]:
gi20 = grandi20("Naman","Rahtani",7)

In [39]:
gi20.enquiry_price()

Hello Naman. Welcome to the showroom.
Price range of this car is 20Lakhs
Please check our best models falling under the same range with additional features

In [40]:
gi20_2 = grandi20("Chaman","Pimpri",17)

In [41]:


gi20_2.enquiry_price()

Hello Chaman. Welcome to the showroom.
Price range of this car is 20Lakhs