## class

In [1]:
import pandas as pd
path = r"D:\teju\database file\dept.csv" 
df = pd.read_csv(path)
df.head()

   dept_id dname
0       10    HR
1       20   MKT
2       30   SAL
3       40   ADM
4       50   FIN

In [2]:
df.shape

(6, 2)

In [3]:
df.columns

Index(['dept_id', 'dname'], dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dept_id  6 non-null      int64
 1   dname    6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

## syntax 


class class_name:

    #define instance attributes
    def __init__(self,attribute1,attribute2):
        self.attribute1 = attribute1
        self.attribute2 = attribute2


    # create functionality using def keywords
    def func1(self):
        #accessible code
    def func2(self):
    #accessible code

## Create a class of Person with attributes as Name,Age,Occupation,Gender

In [7]:
class person:
    # define the instance/object attributes
    def __init__(self,name,age,gender,occupation):
       self.name = name
       self.age = age
       self.gender= gender
       self.occupation = occupation

    def introduce(self):
        print(f"Hi, my name is {self.name}. I am {self.age} years old. I work for {self.occupation} organization")

    def work(self):
        print(f"My work hours are 9am - 6pm")
    
    def hobbies(self):
        print(f"My hobbies are playing cricket, watching movies")

In [8]:
# Instance creation / object creation
p1 = person(name="Raman",age=35,gender="Male",occupation="Accenture")

In [9]:
p1.age

35

In [10]:
p1.name

'Raman'

In [11]:
p1.introduce()

Hi, my name is Raman. I am 35 years old. I work for Accenture organization

In [12]:
p1.hobbies()

My hobbies are playing cricket, watching movies

In [13]:
p1.work()

My work hours are 9am - 6pm

### If you want to define a method without passing self parameter, then use @static method before defining that method

example:
class a:
    def __init__(self,x):
    self.x=x

    @staticmethod
    def method1():
        code of method1

####  Create a class bank account with attributes as account holder name, balance ,account number Define below methods : withdrawal deposit transfer

In [24]:
class bank_account:
    def __init__(self,account_number,account_holder_name,balance):
        self.account_number = account_number
        self.account_holder_name = account_holder_name
        self.balance= balance

    # define deposit method
    def deposit(self,amount):
        self.balance = self.balance + amount
        return f"Amount got deposited to {self.account_number}. Your new balance is {self.balance}"

     # define withdrawal method
    def withdrawal(self,amt_withdraw):
        # check whether withdrawal amount is less than original balance
        if amt_withdraw < self.balance:
            self.balance = self.balance - amt_withdraw
            return f"Amount got deducted from {self.account_number}. Your new balance is {self.balance}"
        else:
            return f"{self.account_holder_name},Insufficient balance in {self.account_number}. Cannot proceed with withdrawal process"
    
    # define transfer method
    def transfer(self,account_no,transfer_amnt):
        self.balance = self.balance - transfer_amnt
        return f"{self.account_holder_name},Your account transfer is successful. Your new balance is {self.balance}"

In [25]:
c1 = bank_account(154678,"Thaman",89500)

In [26]:
c1.account_holder_name

'Thaman'

In [27]:
c1.balance

89500

In [28]:
c1.account_number

154678

In [29]:
c1.deposit(56000)

'Amount got deposited to 154678. Your new balance is 145500'

In [31]:
c1.withdrawal(900)

'Amount got deducted from 154678. Your new balance is 144600'

In [32]:
c1.transfer(8957456,25000)

'Thaman,Your account transfer is successful. Your new balance is 119600'

## class attributes

In [33]:
class bank:
    # class attributes
    bank_name = "HDFC"
    branch = "Pimple Saudagar"

    def welcome():
        pass

In [34]:
b1 = bank()
b2 = bank()

In [35]:
b1.bank_name

'HDFC'

In [36]:
b2.bank_name

'HDFC'

In [37]:
b2.branch

'Pimple Saudagar'

In [38]:
class bank1:
    # class attributes
    bank_name = "HDFC"
    branch = "Pimple Saudagar"

    @classmethod
    def welcome(cls):
        print(f"Welcome to {cls.bank_name}, Our branch is located at {cls.branch}")

In [39]:

b1_1 = bank1()
b1_2 = bank1()

In [40]:
b1_1.branch

'Pimple Saudagar'

In [41]:
b1_1.welcome()

Welcome to HDFC, Our branch is located at Pimple Saudagar

In [42]:
class bank2:
    # class attributes
    bank_name = "HDFC"
    branch = "Pimple Saudagar"

    def __init__(self,account_name,account_no,balance):
        self.account_name = account_name
        self.account_no = account_no
        self.balance = balance

    # TO use class attributes, mention classmethod and pass cls as method input parameter
    @classmethod
    def welcome(cls):
        print(f"Welcome to {cls.bank_name}, Our branch is located at {cls.branch}")
    
    # define deposit method
    def deposit(self,amount):
        self.balance = self.balance + amount
        return f"Amount got deposited to {self.account_number}. Your new balance is {self.balance}"
    
    # define withdrawal method
    def withdrawal(self,amt_withdraw):
        # check whether withdrawal amount is less than original balance
        if amt_withdraw < self.balance:
            self.balance = self.balance - amt_withdraw
            return f"Amount got deducted from {self.account_number}. Your new balance is {self.balance}"
        else:
            return f"{self.account_holder_name},Insufficient balance in {self.account_number}. Cannot proceed with withdrawal process"
    
    # define transfer method
    def transfer(self,account_no,transfer_amnt):
        self.balance = self.balance - transfer_amnt
        return f"{self.account_holder_name},Your account transfer is successful. Your new balance is {self.balance}"

In [43]:
b2_1 = bank2("Raman",345345345,125000)
b2_2 = bank2("Suman",456546456,90800)

In [44]:
b2_1.branch

'Pimple Saudagar'

In [45]:
b2_1.bank_name

'HDFC'

In [46]:
b2_2.branch

'Pimple Saudagar'

In [47]:

b2_2.account_name

'Suman'

In [48]:

b2_1.account_name

'Raman'